/*
	Name: Luke Saldanha
       Student Number: 100929107
	File: INFT 1206 Assignment 3 Part 2
	Date: February 18, 2024
	Description: use css to make a cool box 
*/

html {
    font-family: sans-serif;
  }
  
div {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    font-size: 1.125rem; /* 18px / 16px(base font size) = 1.125rem */
    color: white;
    text-shadow: 1px 1px 2px black;
    border: 1px solid darkred;
    background: linear-gradient(to right bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0.2) 100%);
    background-color: red;
    border-radius: 10px;
    box-shadow: 
        4px 4px 8px rgba(0, 0, 0, 0.2),
        inset 4px 4px 8px rgba(255, 255, 255, 0.5),
        inset -4px -4px 8px rgba(0, 0, 0, 0.5); 
}
